<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="dataSource" >

		<property name="driverClassName" value="acsm_f1ee090d62b55b7" />
		<property name="url" value="eu-cdbr-azure-west-a.cloudapp.net" />
		<property name="username" value="b0b8e47676b025" />
		<property name="password" value="9b40fb8a" />
	</bean>

</beans>
